.summary .description {
    font-size: 15px;
    color: #333;
}

.design-details-header {
    display: flex;
}

.design-details-header .design-icon {
    margin-right: 10px;
}

.design-details-header .design-name {
    flex-grow: 1;
    font-size: 18px;
}
