.summary .summary-title-and-description .description {
    font-size: 15px;
    color: #333;
}

.summary .summary-actions {
    float: right;
    margin-top: 15px;
}

.design-details-header {
    display: flex;
}

.design-details-header .design-icon {
    margin-right: 10px;
}

.design-details-header .design-name {
    flex-grow: 1;
    font-size: 18px;
}
