.artifacts-toolbar {
    padding: 0px;
    border-bottom: 1px solid #ddd;
}

.artifacts-toolbar > div {
    width: 100%;
}

#artifacts-toolbar-1 .tbi-filter-type {
    margin-right: 0;
}

#artifacts-toolbar-1 .artifact-paging-item {
    flex-grow: 1;
    text-align: right;
}
