.design-list .design-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.design-list .design-summary {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}

.design-list table td.design-list-cell
{
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
