.designs-toolbar {
    padding-left: 8px;
    padding-right: 24px;
}

.designs-toolbar > div {
    width: 100%;
}

#designs-toolbar .tbi-filter-type {
    margin-right: 0;
}

#designs-toolbar .design-paging-item {
    flex-grow: 1;
    text-align: right;
}
