.designs-panel {
    min-height: 100%;
}

.designs-panel .panel-header {
    border-bottom: 1px solid #ccc;
}

.designs-panel .panel-body {
    padding: 0px;
}

.designs-panel .panel-body:first-child {
    padding: 0px;
}
