.design-events-origin {
    display: grid;
    grid-template-columns: min-content auto;
    margin-top: 20px;
    font-size: 15px;
}
.design-events-origin .design-events-origin-label {
    padding-right: 15px;
    font-weight: bold;
    margin-bottom: 8px;
    white-space: nowrap;
}
.design-events-origin .design-events-origin-value {
    margin-bottom: 8px;
}

.design-events-origin .design-events-origin-colspan {
    grid-column: 1 / span 2;
}

.design-events-divider {
    margin-top: 20px;
    margin-bottom: 20px;
}


.design-events-origin-exports {
    display: grid;
    grid-template-columns: auto min-content;
    font-size: 15px;
}
.design-events-origin-exports .design-events-origin-exports-label {
    padding-right: 15px;
    font-weight: bold;
    margin-bottom: 8px;
    white-space: nowrap;
}
.design-events-origin-exports .design-events-origin-exports-item {
    margin-bottom: 8px;
    overflow: hidden;
}
.design-events-origin-exports .design-events-origin-exports-time {
    margin-bottom: 8px;
    color: #999;
    white-space: nowrap;
}
