.draft-item {
    padding: 15px 20px;
    border-bottom: 1px solid #ccc;
}

.draft-item .name {
    font-size: 17px;
}

.draft-item .summary {
    font-size: 14px;
    color: #444;
    line-height: 14px;
}
