
#compare-modal {
    position: fixed;
    bottom: 32px;
    top: 32px;
}

#compare-modal .compare-editor {
    flex-grow: 1;
}

#compare-modal .compare-toggle-group {
    padding: 5px 5px 10px 50px;
}

#compare-modal .compare-view {
    position: absolute;
    top: 50px;
    bottom: 80px;
    left: 24px;
    right: 24px;
    display: flex;
    flex-direction: column;
}
